<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.i5irin.dotfiles.updateapps</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__DOTFILES_REPO_ROOT__/modules/macos/update/update_applications.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>2</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__DOTFILES_HOMEBREW_PREFIX__/bin:__DOTFILES_HOMEBREW_PREFIX__/sbin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>StandardOutPath</key>
  <string>__DOTFILES_LOG_PATH__</string>
  <key>StandardErrorPath</key>
  <string>__DOTFILES_LOG_PATH__</string>
</dict>
</plist>
