# The order does not matter whether you install it or not,
# but it is better to set your own rules for readability.

# Additional applications to be installed that are not listed in the Brewfile.
brew "exa"
cask "minecraft"
cask "league-of-legends"
# Applications already listed in Brewfile that you do not want to install.
cask "evernote"
cask "google-japanese-ime"
